doctype html
html
	head
		meta(charset="UTF-8")
		title KEIL
		body
			h1 DEMO Page
			-	var values = data;
			ul
				for val in values
					li= val
					
			form(method='POST' action='/save')
				label(for='name') Name:
				input(type='text', placeholder='first and last' name='name')
				button(type='submit') Save
		
			if errors 
				ul
					for error in errors
						li!= error.msg